# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# dotenv environment variable files
.env
.env.test
.env.production

# VS Code settings
.vscode/